* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --sidebar-clr: #1992d4;
    --main_clr: #e2e8f0;
    --card_clr: #FFFFFF;
    --card_brd: 10px solid #f0b429;
    --article_txt_clr: #7c7c7c;
    --user_bold_font: 700;
    --btn_card: #4f4f4f;
    --white-icons: brightness(0) invert(1);
    --board_radius: 12px;
    --morgan_bg_clr: #facc15;
    --tegan_bg_clr: #e0f2fe;
    --kendall_bg_clr: #a3a3a3;
    --alex_bg_clr: #fda4af;
}

html, body {
    height: 100%;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    height: 100%;
    max-height: 100vh;
}

.container{
    display: grid;
    grid-template-columns: 1.3fr 5fr;
    grid-template-rows: 1fr 5fr;
}

.header {
    padding: 0px 40px 15px 40px ;
}

.search_section {
    padding: 20px;
    display: flex;
    gap: 30px;

    justify-content: center;
    align-items: center;
}

.search_section > p {
    width: 30px;
    height: auto;
}

input {
    flex: 1;
    max-width: 700px;
    line-height: 1.50rem;
}

.user_links {
    margin-left: auto;
    gap: 30px;
    display: flex;
    align-items: center;
}

.user_links > img {
    width: 35px;
    height: 35px;
}

.user_links > a:nth-child(1) {
    width: 30px;
    height: auto;
}

.user_links > a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

input {
    background-color: var(--main_clr);
    outline: none;
    border: 0;
    border-radius: 30px;
}

.usr_cntrl .morgan_oakley {
    height: 85px;
}

.usr_cntrl {
    display: flex;
    align-items: center;
    gap: 20px;
}

.welcome_usr {
    flex: 1;
}

.btn_cntr {
    margin-left: auto;
    max-width: 450px;
    display: flex;
    gap: 35px;
    flex: 1;
}

.logo {
    display: flex;
    gap: 5px;
    align-items: center;
}

.logo > img {
    width: 45px;
    height: auto;
    filter: var(--white-icons);
}

.sidebar {
    background-color: var(--sidebar-clr);
    color: white;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;

    grid-template-rows: 0.3fr 0.1fr 2fr;
    gap: 5px;
    padding-left: 20px;
    align-items: center;
}

.sidebar > h2 {
    text-align: center;
}

ul li {
    font-size: 20px;
    line-height: 1.5rem;
    font-weight: 600;
    list-style: none;
    margin: 15px;

    display: flex;
    gap: 20px;
    align-items: center;
}

.nav_one {
    grid-row: 2 / 3;
}

.nav_two {
    grid-row: 3 / 4;
    padding-top: 30px;
    align-self: baseline;
}

ul li > img, 
ul li > img {
    filter: var(--white-icons);
    height: 30px;
    width: 30px;
}

.main {
    background-color: var(--main_clr) ;

    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 75px;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    padding: 40px 30px 20px 20px;
}

.projects > h3,
.trendboard > h3,
.announcements > h3 {
    margin-bottom: 10px;
}

.projects {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.trendboard {
    grid-row: 2 / 3;
    grid-column: 2 / 2;
}

.trendboard_content {
    background-color: var(--card_clr);
    -webkit-box-shadow: 5px 5px 17px 1px rgba(0,0,0,0.16); 
    box-shadow: 5px 5px 17px 1px rgba(0,0,0,0.16);
    border-radius: var(--board_radius);
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

.projects_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 30px;
}

.card {
    background-color: var(--card_clr);
    border-left: var(--card_brd);
    border-radius: var(--board_radius);
    padding: 30px 20px;
    -webkit-box-shadow: 5px 5px 17px 1px rgba(0,0,0,0.16); 
    box-shadow: 5px 5px 17px 1px rgba(0,0,0,0.16);
    margin-right: 20px;

    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 0.2fr 3fr 0.1fr;
}

.card > p:nth-child(2) {
    color: var(--article_txt_clr);
}

.add_btn {
    display: flex;
    gap: 30px;
    justify-content: right;
    grid-row: 3 / 4;

}

.add_btn > img {
    height: 30px;
    width: 30px;
}

.announce_content {
    background-color: var(--card_clr);
    -webkit-box-shadow: 5px 5px 17px 1px rgba(0,0,0,0.16); 
    box-shadow: 5px 5px 17px 1px rgba(0,0,0,0.16);
    border-radius: var(--board_radius);
}

.info {
    padding: 35px 30px;
}

.info > p:nth-child(2) {
    color: var(--article_txt_clr);
}

.trending {
    display: flex;
    align-items: center;
    gap: 15px;
}

.title {
    font-weight: 700;
}
.users > p:nth-child(1) {
    font-weight: 500;
}

.users > p:nth-child(2) {
    color: var(--article_txt_clr);
}

button {
    background-color: var(--sidebar-clr);
    border: 0;
    border-radius: 20px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 2.2;
    outline: transparent;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    flex: 1;
}

/* Avatars */

.img_usr {
    border-radius: 50%;
    height: 50px;
    width: auto;
}

.morgan_oakley {
    background-color: var(--morgan_bg_clr);
}

.tegan {
    background-color: var(--tegan_bg_clr);
}

.alex {
    background-color: var(--alex_bg_clr);
}

.kendall {
    background-color: var(--kendall_bg_clr);
}
